<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soo.test2.dao.MemberDao">

	<resultMap type="Member" id="MemberMap">
		<id column="mem_no" property="memberNo" />
		<result column="reg_date" property="registeredDate" />
		<result column="gender" property="gender" />
		<result column="dob" property="dateOfBirth" />
		<result column="id" property="id" />
		<result column="email" property="email" />
		<result column="name" property="name" />
		<result column="pwd" property="password" />
		<result column="addr_city" property="addressCity" />
		<result column="addr_sub" property="addressSuburb" />
		<result column="tel" property="tel" />
		<result column="profile_photo" property="profilePhoto" />
		<result column="activation_key" property="activationKey" />
		<collection resultMap="MemberTypeMap" property="memberType"></collection>
	</resultMap>

	<resultMap type="MemberType" id="MemberTypeMap">
		<id column="mem_type_no" property="memberTypeNo" />
		<result column="mem_type_name" property="memberTypeName" />
	</resultMap>


	<insert id="insert" parameterType="Member">
		insert into
		test_member5(mem_type_no,reg_date,gender,dob,id,email,name,pwd,addr_city,addr_sub,tel,profile_photo,activation_key)
		values
		(#{memberType.memberTypeNo},now(),#{gender},#{dateOfBirth},#{id},#{email},#{name},password(#{password}),#{addressCity},#{addressSuburb},#{tel},#{profilePhoto},#{activationKey});
	</insert>

	<select id="findingID" parameterType="String"
		resultType="String">
		select id from test_member5 where email=#{email}
	</select>


	<select id="checkOverId" parameterType="String" resultType="int">
		select count(*) from test_member5 where id=#{id}
	</select>
  
  <select id="checkOverEmail" parameterType="String" resultType="int">
    select count(*) from test_member5 where email=#{email}
  </select>
  
<!--     <select id="updateCheck" parameterType="String" resultType="int">
    UPDATE test_member5 SET userEmailChecked = 1 WHERE activation_key = #{activationKey}
  </select> -->
  
  <update id="updateCheck" parameterType="String" >
      UPDATE test_member5 SET userEmailChecked = 1 WHERE activation_key = #{activationKey}
  </update>

</mapper>
